<%- include('header') -%> 
    <div id="loading">
        <div class="loader"></div> Carregando...
    </div>

    <header id="header">
        <a href="/">
            <div class="logo-home">yuushax</div>
        </a>
        <a href="/<%= user %>">
            <img src="/static/usericon.svg" alt="" class="usericon">
        </a>
    </header>
    
    <div id="app">
        <% users.forEach(i => { %> 
            <a href="/<%= i.username %> "><%= i.username %> </a>
        <% }) %> 
    </div>

<%- include('footer') -%>