<%- include('header') -%> 
    <div id="loading">
        <div class="loader"></div> Carregando...
    </div>

    <header id="header">
        <a href="/">
            <div class="logo-home">yuushax</div>
        </a>
        <a href="/<%= userAbout.username %>">
            <img src="/static/usericon.svg" alt="" class="usericon">
        </a>
    </header>
    
    <div id="app" class="perfil">
        <h4>Editar Perfil</h4>
        <div class="edit-profile">
            <% if(locals.userAbout) { %> 
                
                <form action="/route/edit" method="POST">
                    <input type="hidden" name="id" value="<%= userAbout._id %>">
                    <div class="form-group">
                        <label for="newUsername">Nome</label>
                        <input type="text" name="newUsername" id="newUsername" value="<%= userAbout.username %>">
                    </div>
                    <div class="form-group">
                        <label for="newBio">Biografia</label>
                        <input type="text" name="newBio" id="newBio" value="<%= userAbout.bio %>">
                    </div>
                    <div class="form-group">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            <% } %> 
        </div>
    </div>

<%- include('footer') -%>